bcrypt==3.2.0
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cryptography==3.1
cssselect2==0.3.0
defusedxml==0.6.0
Flask==1.1.2
future==0.18.2
html5lib==1.1
idna==2.10
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
Markdown==3.2.2
MarkupSafe==1.1.1
netmiko==3.3.0
paramiko==2.7.2
Pillow==7.2.0
pycparser==2.20
pygraphviz==1.6
PyJWT==1.7.1
PyNaCl==1.4.0
Pyphen==0.9.5
pyserial==3.4
python-dotenv==0.14.0
requests==2.24.0
requests-toolbelt==0.9.1
scp==0.13.2
six==1.15.0
textfsm==1.1.0
tinycss2==1.0.2
urllib3==1.25.10
uWSGI==2.0.19.1
WeasyPrint==51
webencodings==0.5.1
webexteamsbot==0.1.4.2
webexteamssdk==1.6
Werkzeug==1.0.1
zipp==3.1.0
